<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">login.</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Index</a>
      </li>
      <li class="nav-item">
        <%= if logged_in?
          link_to "Logout", '/logout', method: :delete, class: "nav-link", data: { confirm: "T'es sûr de toi ?" }
        else
          link_to "Login", '/login', class: "nav-link"
        end %>
      </li>
      <li class="nav-item">
        <%= link_to "Users", users_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
