@font-face {
    font-family: 'roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
}

* {
	outline: 0;
	font-family: arial, sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	display:flex;
	justify-content: center;
	flex-direction: column;
}

.underline:hover {
	text-decoration: underline;
}

/* HEADER */

header ul{
list-style-type: none;
display: flex;
flex-direction: row;
}

#header_right{
	display: flex;
	justify-content: flex-end;
}

header a {
	font-size: small;
	color: #666;
	text-decoration: none;
}

header li {
	margin: 0px 12px 0 12px;
}

#icon1 {
	color: grey ;
}

#bell {
	background-color: grey;
	width: 10px;
	height: 10px;
	padding: 3px;
	border: solid grey 1px;
	border-radius: 12px;
}

#bell:hover {
	background-color: black;
	border: solid black 1px;
}

#account {
	background-color: purple;
	width: 10px;
	height: 10px;
	padding: 9px 12px 8px 12px;
	border: solid purple 0px;
	border-radius: 21px;
	color: white;
	font-size: 14px;
	margin-left: -3px;
}

/* MAIN */

#corps {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
}

#logo {
	height: 92px;
	width: 272px;
}

#france {
	font-size: 16px;
	font-family: roboto;
	color: #4285f4;
	position: relative;
	left:11px;
	top:-25px;
}

#div_search{
	margin: 0 12px 0 12px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08); 
	border-radius: 2px;
	border: 0.1px solid #fff;
}

#div_search:hover{
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08) ;
}

#search{
	margin-left: 10px;
	width: 584px;
	height: 44px;
	border: none;
	font-size: 16px;
}

#rech, #lucky{
	padding: 0px 16px ;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	margin: 35px 5px 0 5px;
	height: 36px;
	border: 1px solid #fff;
	background-color: #f2f2f2;
	color: #757575;
	border-radius: 3px;
	line-height: 27px;
}


#rech:hover,#lucky:hover {
	box-shadow: 0 1px 1px 0 grey;
	color: black;
	border: 1px solid #c6c6c6;
}

/* FOOTER */

footer {
	width: 100%;
}

#footer_left {
	justify-content: flex-start;
}

#footer_right {
	justify-content: flex-end;
}

footer nav {
	background-color: #F2F2F2;
	display: flex;
	flex-direction: row;
}

footer ul {
	display: flex;
	flex-direction: row;
	width: 50%;
	list-style-type: none;
	padding: 0;
}

footer li {
	margin: 0px 15px 0 15px;
}

footer a {
	font-size: small;
	color: #666;
	text-decoration: none;
}