<div id="green" class="pointer" value="0"></div>
<div id="blue" class="pointer" value="1"></div>
<div id="red" class="pointer" value="2"></div>
<div id="yellow" class="pointer" value="3"></div>
<div id="black"></div>
<button id="start" class="pointer">start / reset</button>

<%= javascript_include_tag 'simon.js' %>