// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Optional: Makes the sample page fill the window. */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: auto;
}

p {
    text-align: center;
    font-style: italic;
}

form {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #6a849b;
    border-radius: 5px;
}

input {
    width: 300px;
    height: 25px;
    line-height: 25px;
    margin: 5px;
    padding-left: 5px;
    border: 0;
}

input.field_map {
    color: #616161;
}

input#submit {
    cursor: pointer;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    border-radius: 5px;
}

.alert-danger {
    width: 100%;
    text-align: center;
    background-color: #c52121;
    color: white;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.field_with_errors > input {
    background-color: #ff9595;
}