<div id="screen_1_background"></div>
<div id="screen_1">
    <nav>
        <ul>
            <li><a href="/">I Am an Applicant</a></li>
            <li><a href="/">API & Docs</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Careers</a></li>
        </ul>
    </nav>
    <header>
        <img class="logo" src="https://checkr.com/wp-content/themes/checkr/assets/img/logo.svg" />
        <ul class="dropdown">
            <li>
                Product
                <ul class="dropdown-content">
                    <li>Overview</li>
                    <li>Screenings</li>
                    <li>Compliance</li>
                    <li>Security</li>
                </ul>
            </li>
            <li>Industries</li>
            <li>Resources</li>
        </ul>
    </header>
    <div id="screen_1_content">
        <div>
            <h1>
                Hire great people. Faster.
            </h1>
            <p>
                Checkr provides modern and compliant background checks for global enterprises and startups.
            </p>
            <button>Explore now</button>
        </div>
        <video preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png">
            <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
            <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
            <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634">
        </video>
    </div>
</div>
<div id="screen_2"></div>
<div id="screen_3"></div>
<div id="screen_4"></div>
<div id="screen_5"></div>
