<div id="screen_1_background"></div>
<section id="screen_1">
    <nav>
        <ul>
            <li><a href="/" class="cubic">I Am an Applicant</a></li>
            <li><a href="/" class="cubic">API & Docs</a></li>
            <li><a href="/" class="cubic">About Us</a></li>
            <li><a href="/" class="cubic">Careers</a></li>
        </ul>
    </nav>
    <header>
        <div>
            <img class="logo" src="https://checkr.com/wp-content/themes/checkr/assets/img/logo.svg" />
            <ul class="dropdown">
                <li>
                    PRODUCT
                    <ul class="dropdown-content">
                        <li><a href="/">Overview</a></li>
                        <li><a href="/">Screenings</a></li>
                        <li><a href="/">Compliance</a></li>
                        <li><a href="/">Security</a></li>
                    </ul>
                </li>
                <li>
                    INDUSTRIES
                    <ul class="dropdown-content">
                        <li><a href="/">Overview</a></li>
                        <li><a href="/">Screenings</a></li>
                        <li><a href="/">Compliance</a></li>
                        <li><a href="/">Security</a></li>
                    </ul>
                </li>
                <li>
                    RESOURCES
                    <ul class="dropdown-content">
                        <li><a href="/">Overview</a></li>
                        <li><a href="/">Screenings</a></li>
                        <li><a href="/">Compliance</a></li>
                        <li><a href="/">Security</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <p><a href="/" class="cubic uppercase">Log In</a></p>
            <button class="uppercase">Get started</button>
        </div>
    </header>
    <div id="screen_1_content">
        <div>
            <strong>
                Hire great people. Faster.
            </strong>
            <p>
                Checkr provides modern and compliant background checks for global enterprises and startups.
            </p>
            <button>Explore now</button>
        </div>
        <video preload="auto" autoplay>
            <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
            <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
        </video>
    </div>
</section>

<section id="screen_2">
    <h1>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h1>
    <div>
        <div><img src="https://checkr.com/wp-content/uploads/2015/10/instacart-logo@2x.png" /></div>
        <div><img src="https://checkr.com/wp-content/uploads/2015/10/logo_grubhub_update.gif" /></div>
        <div><img src="https://checkr.com/wp-content/uploads/2016/02/Uber_white_2@2x.jpeg" /></div>
        <div><img src="https://checkr.com/wp-content/uploads/2015/10/postmates_logo_s-1.png" /></div>
        <div><img src="https://checkr.com/wp-content/uploads/2015/10/zenefits.gif" /></div>
        <div><img src="https://checkr.com/wp-content/uploads/2015/10/Handy@2x.jpg" /></div>
    </div>
</section>
<section id="screen_3">
    <h1>The Next Generation of Background Checks</h1>
    <div>
        <div>
            <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-mobile.svg" />
            <h2>Mobile-Friendly</h2>
            <p>Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
        </div>
        <div>
            <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-computer_easy.svg" />
            <h2>Easy to Understand</h2>
            <p>Color-coded reports and an intuitive interface makes it possible to review information faster. See a sample employee background report.</p>
        </div>
        <div>
            <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-automation.svg" />
            <h2>Convenient Automation</h2>
            <p>Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
        </div>
        <div>
            <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-communications.svg" />
            <h2>Simplified and Compliant Communication</h2>
            <p>Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
        </div>
        <div>
            <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-analytics.svg" />
            <h2>Fast and Accurate</h2>
            <p>Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
        </div>
    </div>
</section>
<section id="screen_4">
    <h1>Tailored to Fit Your Industry’s Needs</h1>
    <div>
        <div><div><p>Checkr has built in specific tools to reduce time to hire and manage the complexity of screening candidates in a contact center.</p></div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>
<section id="screen_5">
    <h1>Best in Class Compliance and Security</h1>
</section>
<section id="screen_6">
    <h1>Information for Applicants</h1>
</section>
<section id="screen_7"></section>
<section id="screen_8"></section>