<h1><%= @moussaillon.first_name %></h1>
<%= @moussaillon.age %><br />
<div>
  <%= link_to 'Modifie les infos du moussaillon', edit_moussaillon_path %>
</div>
<div>
  <%= link_to 'Voir tous les moussaillons !', moussaillons_path %>
</div>
