<h1>Resto trop bien !</h1>
<p>Miam ici on mange bien</p>
<div id="container">
    <div id="menu">
        <button>Présentation</button>
        <button>Menu</button>
        <button>Lorem</button>
    </div>
    <div id="screen_1">
        <h2>Présentation</h2>
    </div>
    <div id="screen_2">
        <h2>Menu</h2>
    </div>
    <div id="screen_3">
        <h2>Lorem</h2>
    </div>
</div>