<table class="table">
  <thead class="thead-light">
    <tr>
      <th>id</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, edit_user_path(user) %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'new!', new_user_path, method: :get, class: "btn btn-default" %>
