<h1>Emails/ajax.</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>Object</th>
            </tr>
        </thead>
        <tbody>
    <% @emails.each do |email| %>
            <tr>
                <td><%= email.object %></td>
            </tr>
    <% end %>
        </tbody>
    </table>
</div>
<div id="content">
</div>