<table class="table">
  <thead class="thead-light">
    ...
  </thead>
</table>

<ul class="list-group">
<% @event.attendees.each do |user| %>
  <li class="list-group-item">
    ...
  </li>
<% end %>
</ul>
