body {
	padding-left: 20px;
	font-size: 18px;
	color: #444;
	max-width: 650px;
	margin: auto;
	line-height: 1.4;
}

.italic {
	font-style: italic;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}