<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for @user, url: users_new_path do |f| %>
  <%= f.text_field :name %>
  <%= f.submit 'new' %>
<% end %>

<%= link_to 'back', users_show_path %>
