<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "name", class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'new', class:'btn btn-default' %>
  </div>
<% end %>

<%= link_to 'back', users_path %>
