<h1>About page</h1>
<p>Here you'll know more about the family</p>
<%= link_to 'More about toi', toi_path %>
<br />
<%= link_to 'More about mon binôme', binome_path %>
<br />
<%= link_to 'Back', home_path %>
