// Place all the styles related to the Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    display: flex;
    flex-direction: column;
}

table {
    width: 500px;
    margin-bottom: 20px;
}

th {
    background-color: #af0606;
    border: solid 1px #ff4a4a;
    color: white;
}

td {
    border: solid 1px #3f3f3f;
    cursor: pointer;
}

#content {
    width: 500px;
    height: 300px;
    background-color: #85e9e3;
}