<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for :session, url: '/login' do |f| %>
  Email: <%= f.text_field :email %><br />
  Password: <%= f.text_field :password %><br />
  <%= f.submit %>
<% end %>
